body{
    font-family: 'Roboto', sans-serif;
    background-color: #263238;
}


.header{
    font-family: monospace !important;
    word-spacing: -2px;
}

div.extraBreaks {
  display: block;
}

@media only screen and (max-width: 600px) {
  div.extraBreaks {
    display: none;
  }
}

err_tag {
    color: #7DFBC0;
    font-size: 1.1em !important;
}

mark {
    background-color: #7DFBC0;
    color: #1F262E;
}

div#cardData {
    border-radius: 12px;
    font-size: 0.9em;
}

div#VizCard {
    border-radius: 8px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;

    height: 20rem !important;
    resize: none !important;

    /* overflow-y: auto !important; */
    overflow-x: auto;
    white-space:nowrap;

    font-family: monospace !important;
}

div#topBar{
    height: 0.6em !important;
}


.errHeading {
    color: snow;
    font-weight: bold;
}

.customTX {
    font-size: 12px;
    height: 16rem !important;
    resize: none !important;
    overflow: visible !important;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
